<h2>Beneficiaries</h2>

<md-input-container class="beneficiary-item-new">
    <input mdInput #createBeneficiaryName placeholder="New beneficiary name" /> 
</md-input-container>
<button md-button (click)="createBeneficiary(createBeneficiaryName.value); createBeneficiaryName.value = ''">
    Add
</button>

<ul id="beneficiaries">
    <li *ngFor="let beneficiary of beneficiaries" class="beneficiary-item">
        <a [routerLink]="['/beneficiary', beneficiary.id]"><md-card>{{beneficiary.name}}</md-card></a>
    </li>
</ul>