<div *ngIf="beneficiary">
    <div *ngIf="!isEditing; else editingLayout">
        <h2>{{beneficiary.name}}</h2>
        <button md-button (click)="goBack()">Back</button> 
        <button md-button (click)="switchEditing()">Edit</button> 
        <button md-button (click)="deleteBeneficiary()">Delete</button>
    </div>
    <ng-template #editingLayout>
        <div>
            <md-input-container>
                <input mdInput [(ngModel)]="beneficiary.name"/>
            </md-input-container>
            <button md-button (click)="updateBeneficiary()">Save</button>
            <button md-button (click)="switchEditing()">Cancel</button>
        </div>
    </ng-template>
</div>