<div *ngIf="beneficiary">
    <div *ngIf="!isEditing; else editingLayout">
        <h2>{{beneficiary.name}}</h2>
        <button (click)="goBack()">Back</button> 
        <button (click)="switchEditing()">Edit</button> 
        <button (click)="deleteBeneficiary()">Delete</button>
    </div>
    <ng-template #editingLayout>
        <div>
            <h2><input [(ngModel)]="beneficiary.name"/></h2>
            <button (click)="updateBeneficiary()">Save</button> <button (click)="switchEditing()">Cancel</button>
        </div>
    </ng-template>
</div>